body {
    background-color: #FFF0F5;
    color: black;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box; /* Adicionado para facilitar o controle do layout */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px; /* Margem inferior para separar do conteúdo */
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center; /* Alinhamento ao centro */
}

li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Transição para o hover mais suave */
}

li a:hover {
    color: rgb(132, 14, 201);
}

h2 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    padding-left: 400px;
}
h4 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* Centralizar o formulário */
}

input[type="text"],
input[type="email"] {
    margin-top: 20px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background-color: #333;
    color: white;
    width: 100%; /* Certificar-se de que o input ocupa 100% da largura */
}

input[type="submit"] {
    height: 50px;
    width: 100%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição mais suave */
}

input[type="submit"]:hover {
    background-color: rgb(160, 20, 240);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: purple;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsividade - telas menores que 768px (móveis) */
@media (max-width: 768px) {
    h2 {
        font-size: 28px; /* Reduzir tamanho do título em telas menores */
        text-align: center;
    }

    form {
        width: 90%; /* Ajustar o formulário para 90% da tela */
    }

    input[type="text"],
    input[type="email"] {
        font-size: 14px; /* Reduzir tamanho da fonte dos inputs */
    }
}

/* Responsividade - telas menores que 480px (smartphones em retrato) */
@media (max-width: 480px) {
    h2 {
        font-size: 24px; /* Reduzir ainda mais o tamanho do título */
    }

    input[type="text"],
    input[type="email"] {
        padding: 8px; /* Ajustar padding dos inputs */
        font-size: 14px;
    }

    input[type="submit"] {
        height: 45px; /* Ajustar altura do botão */
    }
}
